{# podpięcie się pod bazowy szablon strony #}
{% extends  '::base.html.twig' %}
{# zmiana sidebartitle #}
{% block sidebartitle %}MENU{% endblock %}
{# lewe menu #}
{% block sidebaritems %}
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}"><i class="icon-home"></i> Home</a></li>
    <li><a href="{{ path('ZubiUserBundle_homepage') }}"><i class="icon-user"></i> Profil</a></li>
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('ZubiDeviceBundle_homepage') }}"><i class="icon-cog"></i> Urządzenia</a></li>
    {% endif %}    
    <li class="active"><a href="{{ path('ZubiFaqBundle_homepage') }}"><i class="icon-question-sign"></i> FAQ </a></li>        
    <li><a href="{{ path('ZubiArticleBundle_homepage') }}"><i class="icon-book"></i> Artykuły</a></li> 
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('ZubiArticleBundle_add') }}"><i class="icon-pencil"></i> Dodaj artykuł</a></li>
        <li><a href="{{ path('ZubiArticleBundle_groups') }}"><i class="icon-list-alt"></i> Grupy artykułów</a></li>
        <li><a href="{{ path('ZubiArticleBundle_group_add') }}"><i class="icon-plus"></i> Dodaj grupę</a></li>
    {% endif %}
    <li class="divider"></li>
{% endblock %}
{# terść strony #}
{% block body %}
{# pole na komuniaty o sukcesie lub błędach #}
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice" style="color:blue;">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="flash-notice" style="color:red;">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
{# na stronie mamy dostepny formularz do edycji FAQ #}
<div class="well">  
<br />   
<form class="form-horizontal" action="" method="POST" {{ form_enctype(form) }}>
    <fieldset>
            <legend>Możesz dokonać zmiany w tym FAQ</legend>
            <div class="control-group">
                <label class="control-label" for="input01">Treść pytania:</label>
                <div class="controls">{{ form_widget(form.tresc,  { 'attr': {'class': 'question_field'} }) }}</div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Treść opowiedzi:</label>
                <div class="controls">{{ form_widget(form.odpowiedz,  { 'attr': {'class': 'answer_field'} }) }}</div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">FAQ widoczne dla:</label>
                <div class="controls">{{ form_widget(form.StatusWidocznosci) }}</div>
            </div>
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Zapisz zmiany" />
                <a  class="btn btn-danger" href="{{ backLink }}" > Anuluj </a>
            </div>
        </fieldset>
</form>
    <br />

</div>
{% endblock %}