{# podpięcie się pod bazowy szablon strony #}
{% extends  '::base.html.twig' %}
{# zmiana sidebartitle #}
{% block sidebartitle %}F A Q {% endblock %}
{# lewe menu #}
{% block sidebaritems %}
    <li class="active"><a href="{{ path('ZubiFaqBundle_homepage') }}">Faq</a></li>
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Strona główna serwisu</a></li>
{% endblock %}
{# terść strony #}
{% block body %}
{# pole na komuniaty o sukcesie lub błędach #}
{% if app.session.hasFlash('notice') %}
    <div class="alert alert-success">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="alert alert-error">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
<h3>FAQ - Często zadawne pytania</h3>
<br />
<div class="well">    
   <ul class="unstyled">
    {# pętla "przechodząca przez wszystkie FAQ przekazane przez kontroler #}
    {% for faq in faqs %}            
        {# ustawienie falgi widoczności w zależności od zalogowanego usera 
           oraz od statusu widoczności z FAQ #}
        {% set visible = false %}
        {% if faq.id_statusu == 3 %}
            {% if is_granted('ROLE_ADMIN') %}
                {% set visible = true %}
            {% endif %}
        {% elseif faq.id_statusu == 2 %}
            {% if is_granted('ROLE_USER') %}
                {% set visible = true %}
            {% endif %}
        {% else %}
            {% set visible = true %}
        {% endif %}
        {# jeśli falga widoczonści jest ustawiona na TRUE, to wyświetlamy FAQ #}
        {% if visible == true %}                    
            <li><p><i>Pytanie:</i> {{ faq.tresc }}</p>
            <blockquote>{{faq.odpowiedz}}</blockquote>            
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-danger" href="{{delLinks[loop.index0]}}"><i class="icon-trash"></i> usuń</a>
                <a class="btn btn-primary"  href="{{editLinks[loop.index0]}}"><i class="icon-edit"></i> zmień</a>                
            {% endif %} 
            <hr />
            </li>           
        
        {% endif %}
    {% endfor %}
   </ul>
</div>
{# jeśli zalogowany admin, na stronie mamy dostepny formularz do dodawania FAQ #}
{% if is_granted('ROLE_ADMIN') %}            
<div class="well">    
    <form class="form-horizontal" action="{{  path('ZubiFaqBundle_homepage')  }}" method="POST" {{ form_enctype(form) }}>
        <fieldset>
            <legend>Możesz dodać nową pozycję w FAQ</legend>
            <div class="control-group">
                <label class="control-label" for="input01">Treść pytania:</label>
                <div class="controls">{{ form_widget(form.tresc,  { 'attr': {'class': 'question_field'} }) }}</div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Treść opowiedzi:</label>
                <div class="controls">{{ form_widget(form.odpowiedz,  { 'attr': {'class': 'answer_field'} }) }}</div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">FAQ widoczne dla:</label>
                <div class="controls">{{ form_widget(form.StatusWidocznosci) }}</div>
            </div>
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Dodaj nowe FAQ" />
            </div>
        </fieldset>
    </form> 
{% endif %} 
<br />
{% endblock %}