{# podpięcie się pod bazowy szablon strony #}
{% extends  '::base.html.twig' %}
{# zmiana sidebartitle #}
{% block sidebartitle %}MENU{% endblock %}
{# lewe menu #}
{% block sidebaritems %}
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}"><i class="icon-home"></i> Home</a></li>
    <li><a href="{{ path('ZubiUserBundle_homepage') }}"><i class="icon-user"></i> Profil</a></li>
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('ZubiDeviceBundle_homepage') }}"><i class="icon-cog"></i> Urządzenia</a></li>
    {% endif %}    
    <li><a href="{{ path('ZubiFaqBundle_homepage') }}"><i class="icon-question-sign"></i> FAQ </a></li>        
    <li><a href="{{ path('ZubiArticleBundle_homepage') }}"><i class="icon-book"></i> Artykuły</a></li> 
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('ZubiArticleBundle_add') }}"><i class="icon-pencil"></i> Dodaj artykuł</a></li>
        <li  class="active"><a href="{{ path('ZubiArticleBundle_groups') }}"><i class="icon-list-alt"></i> Grupy artykułów</a></li>
        <li><a href="{{ path('ZubiArticleBundle_group_add') }}"><i class="icon-plus"></i> Dodaj grupę</a></li>
    {% endif %}
    <li class="divider"></li>
{% endblock %}
{# terść strony #}
{% block body %}
{# pole na komuniaty o sukcesie lub błędach #}
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice" style="color:blue;">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="flash-notice" style="color:red;">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
<h3>Usunięcie grup artykułów o id {{ id }}</h3>
{% if is_granted('ROLE_ADMIN') %} 
        <a class="btn btn-primary" href="{{ path('ZubiArticleBundle_add') }}">Dodaj nowy artykuł</a>        
{% endif %}
{% endblock %}
