{% extends  '::base.html.twig' %}

{% block sidebartitle %}Artykuły{% endblock %}
{% block sidebaritems %}

    <li ><a href="{{ path('ZubiArticleBundle_homepage') }}">Lista artykułów</a></li>
    {% if is_granted('ROLE_ADMIN') %} 
        <li class="active" ><a href="{{ path('ZubiArticleBundle_groups') }}">Lista grup art.</a></li>
    {% endif %}  
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Strona główna serwisu</a></li>

{% endblock %}

{% block body %}

{% if app.session.hasFlash('notice') %}
    <div class="flash-notice" style="color:blue;">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="flash-notice" style="color:red;">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
<h3>Edycja grupy artykułów</h3>
<br >
<form action="{{  url('ZubiArticleBundle_group_edit',{ 'id': id }) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_row(form.name) }}        
    <input type="submit" /> 
</form> 
{% endblock %}
