{% extends  '::base.html.twig' %}

{% block sidebartitle %}Grupy artykułów{% endblock %}
{% block sidebaritems %}

    <li ><a href="{{ path('ZubiArticleBundle_homepage') }}">Lista artykułów</a></li>
    {% if is_granted('ROLE_ADMIN') %} 
        <li class="active" ><a href="{{ path('ZubiArticleBundle_groups') }}">Lista grup art.</a></li>
    {% endif %}  
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Strona główna serwisu</a></li>

{% endblock %}

{% block body %}

{% if app.session.hasFlash('notice') %}
    <div class="flash-notice" style="color:blue;">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="flash-notice" style="color:red;">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
<h3>Zarządzanie grupami artykułów</h3>
<br />
<ol>
{% for articleGroup in articleGroups %}
    <li> {{ articleGroup.name }}&nbsp;&nbsp;         
          |&nbsp;&nbsp;<a href="{{ url('ZubiArticleBundle_group_delete', { 'id': articleGroup.id }) }}">usun </a>
          |&nbsp;&nbsp;<a href="{{ url('ZubiArticleBundle_group_edit', { 'id': articleGroup.id }) }}">edytuj</a>
    </li>
{% endfor %}
</ol>
<h4>Dodaj nową grupę:</h4>
<form action="{{  url('ZubiArticleBundle_groups') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_row(form.name) }}        
    <input type="submit" /> 
</form>     
{% endblock %}
