{% extends  '::base.html.twig' %}

{% block javascript %}
	 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	 <script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(51.107885,17.038538),
          zoom: 9,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("mapCanvas"), myOptions);
        var marker = new Array();
        var infowindow = new Array();

        {% if stations is defined and stations|length > 0 %}
          {% for st in stations %}

            marker[{{ loop.index0 }}] = new google.maps.Marker({
              position: new google.maps.LatLng({{ st.latitude }},{{ st.longitude }}),
              map: map,
              title: "",
            });
            
            google.maps.event.addListener(marker[{{ loop.index0 }}], 'click', function() {
              
              infowindow[{{ loop.index0 }}] = new google.maps.InfoWindow({ 
                content: 'Stacja: {{ st.hash }}<br />{{ st.street }} - {{ st.city }} - {{ st.country}}' 
              });

              infowindow[{{ loop.index0 }}].open(map, marker[{{ loop.index0 }}]);

            });
          {% endfor %}
        {% endif %}
      }
      

      initialize();

    </script>
  
    
{% endblock %}
	
{% block body %}
    <h2>Mapa czujników</h2>

    <style type="text/css">
      #mapCanvas img {
        max-width: none;
      }
    </style>

 	  <div id="mapCanvas" style="width:100%; height:500px"></div>

{% endblock %}