<h4>Możesz dodać nowy artykuł</h4>
<form action="{{  path('ZubiArticleBundle_add')  }}" method="POST" {{ form_enctype(form) }}>
    {{ form_row(form.author) }}
    {{ form_row(form.articleGroup) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.StatusWidocznosci) }}
    <input type="submit" name="submit" value="submit" /> 
</form>
 <a href="{{ url('ZubiArticleBundle_homepage') }}"> Anuluj - powrót do listy artykułów </a>            