{% extends  '::base.html.twig' %}

{% block sidebartitle %}Artykuły{% endblock %}
{% block sidebaritems %}
    <li class="active"><a href="{{ path('ZubiArticleBundle_homepage') }}">Lista artykułów</a></li>
    {% if is_granted('ROLE_ADMIN') %} 
        <li><a href="{{ path('ZubiArticleBundle_groups') }}">Lista grup art.</a></li>
    {% endif %}  
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Strona główna serwisu</a></li>
{% endblock %}

{% block body %}

{% if app.session.hasFlash('notice') %}
    <div class="flash-notice" style="color:blue;">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="flash-notice" style="color:red;">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
<h3>Lista artykułów</h3>
<br />
   <ol>     
    {% for article in articles %}
            <li>{{ article.title }}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="{{ url('ZubiArticleBundle_showarticle', { 'id': article.id }) }}">Czytaj artykuł</a>      
            {% if is_granted('ROLE_ADMIN') %} 
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="{{ url('ZubiArticleBundle_delete', { 'id': article.id }) }}"> Usuń artykuł </a>               
                &nbsp;&nbsp;|&nbsp;&nbsp; 
                <a href="{{ url('ZubiArticleBundle_edit', { 'id': article.id }) }}"> Zmień artykuł </a>               
            {% endif %}
            </li>
    {% endfor %}
   </ol>
<br />
{% if is_granted('ROLE_ADMIN') %} 
        <a class="btn btn-primary" href="{{ path('ZubiArticleBundle_add') }}">Dodaj nowy artykuł</a>
{% endif %}
{% endblock %}
