{# podpięcie się pod bazowy szablon strony #}
{% extends  '::base.html.twig' %}
{# zmiana sidebartitle #}
{% block sidebartitle %}MENU{% endblock %}
{# lewe menu #}
{% block sidebaritems %}
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}"><i class="icon-home"></i> Home</a></li>
    <li><a href="{{ path('ZubiUserBundle_homepage') }}"><i class="icon-user"></i> Profil</a></li>
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('ZubiDeviceBundle_homepage') }}"><i class="icon-cog"></i> Urządzenia</a></li>
    {% endif %}    
    <li><a href="{{ path('ZubiFaqBundle_homepage') }}"><i class="icon-question-sign"></i> FAQ </a></li>        
    <li class="active"><a href="{{ path('ZubiArticleBundle_homepage') }}"><i class="icon-book"></i> Artykuły</a></li> 
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('ZubiArticleBundle_add') }}"><i class="icon-pencil"></i> Dodaj artykuł</a></li>
        <li><a href="{{ path('ZubiArticleBundle_groups') }}"><i class="icon-list-alt"></i> Grupy artykułów</a></li>
        <li><a href="{{ path('ZubiArticleBundle_group_add') }}"><i class="icon-plus"></i> Dodaj grupę</a></li>
    {% endif %}
    <li class="divider"></li>
{% endblock %}
{# terść strony #}
{% block body %}
{# pole na komuniaty o sukcesie lub błędach #}
{% if app.session.hasFlash('notice') %}
    <div class="alert alert-success">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="alert alert-error">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
{# listy artykułów #}
<h3>Lista artykułów</h3>
<br />
    <div class="well">   
        <ul class="unstyled">    
            {% for article in articles %}
                    <li><p>[{{ article.ArticleGroupName }}] <strong>{{ article.title }}</strong></p>
                    <blockquote>
                        {{ article.Firs250Contnet }}
                        <a class="btn" href="{{ url('ZubiArticleBundle_showarticle', { 'id': article.id }) }}">więcej...</a>      
                    </blockquote>                                                                
                    {% if is_granted('ROLE_ADMIN') %} 
                        <a class="btn btn-danger"  href="{{ url('ZubiArticleBundle_delete', { 'id': article.id }) }}"><i class="icon-trash"></i> usuń </a>               
                        <a class="btn btn-primary" href="{{ url('ZubiArticleBundle_edit', { 'id': article.id }) }}"><i class="icon-edit"></i> zmień</a>               
                    {% endif %}
                    </li>
                    <hr />
            {% endfor %}
        </ul>
{# wyśietlenie odnośnika do dodawnia  artykułu jeśli zalogowany jest ADMIN #}
{% if is_granted('ROLE_ADMIN') %} 
        <a class="btn btn-primary" href="{{ path('ZubiArticleBundle_add') }}">Dodaj nowy artykuł</a>
{% endif %}
    </div>
{% endblock %}
