{# podpięcie się pod bazowy szablon strony #}
{% extends  '::base.html.twig' %}
{# zmiana sidebartitle #}
{% block sidebartitle %}Artykuły{% endblock %}
{# lewe menu #}
{% block sidebaritems %}
        <li class="active"><a href="{{ path('ZubiArticleBundle_homepage') }}">Lista artykułów</a></li>
    {# ten odnośnik dostępny tylko dla ADMINA #}
    {% if is_granted('ROLE_ADMIN') %} 
        <li><a href="{{ path('ZubiArticleBundle_groups') }}">Lista grup art.</a></li>
    {% endif %}  
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Strona główna serwisu</a></li>
{% endblock %}
{# terść strony #}
{% block body %}
{# pole na komuniaty o sukcesie lub błędach #}
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice" style="color:blue;">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="flash-notice" style="color:red;">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}
{# wyśietlenie treści artykułu oraz informacji o nim #}
<h3>{{article.title}}</h3>
<h6>Kategoria artykułu: {{category.name}}</h6>
<h7>Autor: {{author.imie}} {{author.nazwisko}}</h7><br />
<h7>Dodał: {{creator.email}} </h7>
<br />
<br /><blockquote>{{article.content}}</blockquote>
<br />
<a href="{{backLink}}">Powrót do listy artykułów</a>
<br />
{% endblock %}
